<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add</title>
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="header">
      <div class="logo_div">
        <img class="thanima_logo"
             src="{{ url_for('static', filename='images/logoOnly.png') }}"
             alt="">
        {% if session["admin"] %}<div class="admin">Admin</div>{% endif %}
      </div>
      <div>
        <a href='{{ url_for("index") }}' class="section_button">Home</a>
      </div>
      <div>
        <a href='{{ url_for("verify") }}' class="section_button">Verify</a>
      </div>
      {% if session["admin"] %}
        <div>
          <a href='{{ url_for("add") }}' class="section_button">Add</a>
        </div>
      {% endif %}
      <div>
        <a href='{{ url_for("logout") }}' class="logout">Logout</a>
      </div>
    </div>
    <h3>THANIMA - 2025</h3>
    <h1>Add Participant</h1>
    <form method="post" id="verify" action="/add">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <input class="regInput"
             type="text"
             name="registration_number"
             placeholder="Registration No."
             required
             autofocus />
      <div class="chec_group">
        <div>
          <input type="checkbox" id="sticker" name="sticker" value="sticker" checked />
          <label for="sticker">Sticker</label>
        </div>
        <div>
          <input type="checkbox" id="entry" name="entry" value="entry" checked />
          <label for="entry">Entry</label>
        </div>
        <div>
          <input type="checkbox" id="sadhya" name="sadhya" value="sadhya" />
          <label for="sadhya">Sadhya</label>
        </div>
        <div>
          <input type="checkbox" id="concert" name="concert" value="concert" checked />
          <label for="concert">Concert</label>
        </div>
      </div>
      <input class="verifyBtn " type="submit" value="Add" />
    </form>
    {% if reg_no %}
      <div style="display: grid;
                  justify-content: center;
                  font-weight: 800;
                  font-size: large">{{ reg_no }}</div>
      {% for response in responses %}
        <div style="display: grid;
                    justify-content: center;
                    font-weight: 800;
                    font-size: large">{{ response }}</div>
      {% endfor %}
    {% endif %}
  </body>
</html>
