<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add</title>
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>Add Participant</h1>
    <form method="post" id="verify" action="/add">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <input class="regInput"
             type="text"
             name="registration_number"
             placeholder="Registration No."
             required
             autofocus />
      <input class="verifyBtn " type="submit" value="Verify" />
    </form>
    {% if reg_no %}
    <div style="display: grid;
                justify-content: center;
                font-weight: 800;
                font-size: large">{{ reg_no }}: {{ response }}</div>
    {% endif %}
  </body>
</html>
