<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Registration Number Verification</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <a href='{{ url_for("logout") }}' class="logout">Logout</a>
  <h2>Thanima Scanner</h2>
  <div class="container">
    <a href="?table=wristband">wristband</a>
    <a href="?table=culturals">culturals</a>
    <a href="?table=sadhya">sadhya</a>
    <a href="?table=concert">concert</a>
  </div>
  <div class="flash-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}<div class="flash {{ category }}">{{ message }}</div>{% endfor %}
    {% endif %}
    {% endwith %}
  </div>
  {% if table %}
  <form method="post" id="verify">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input type="hidden" name="table" value="{{ table }}" />
    <input type="text" name="registration_number" placeholder="Enter registration number" required />
    <input type="submit" value="Verify" />
  </form>
  {% endif %}
  <div id="count">{{ count }}</div>
</body>
<script>
  function updateCount() {
    let form = document.getElementById("verify");
    if (!form) return;

    let table = form.children[1].value;
    let countViewer = document.getElementById('count');

    fetch('/getCount/' + table)
      .then((response) => response.json())
      .then((json) => countViewer.innerHTML = json['count'])
  }

  var intervalId = window.setInterval(updateCount, 5000);
</script>

</html>