<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scanner</title>
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="header">
      <div class="logo_div">
        <img class="thanima_logo"
             src="{{ url_for('static', filename='images/logoOnly.png') }}"
             alt="">
        {% if session["admin"] %}<div class="admin">Admin</div>{% endif %}
      </div>
      <div>
        <a href='{{ url_for("index") }}' class="section_button">Home</a>
      </div>
      <div>
        <a href='{{ url_for("verify") }}' class="section_button">Verify</a>
      </div>
      {% if session["admin"] %}
        <div>
          <a href='{{ url_for("add") }}' class="section_button">Add</a>
        </div>
      {% endif %}
      <div>
        <a href='{{ url_for("logout") }}' class="logout">Logout</a>
      </div>
    </div>
    <h3>THANIMA - 2025</h3>
    <h1>event registration verification</h1>
    <div class="container">
      {% for table_name in tables %}
        <a href="?table={{ table_name }}"
           class="{{ 'active' if table_name==table else '' }}">{{ table_name }}</a>
      {% endfor %}
    </div>
    {% if table %}
      <form method="post" id="verify">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="hidden" name="table" value="{{ table }}" />
        <input class="regInput"
               type="text"
               name="registration_number"
               placeholder="Registration No."
               required
               autofocus />
        <input class="verifyBtn " type="submit" value="Verify" />
      </form>
    {% endif %}
    <div class="flash-container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}<div class="flash {{ category }}">{{ message }}</div>{% endfor %}
        {% endif %}
      {% endwith %}
    </div>
    <div style="display: grid;
                justify-content: center;
                font-weight: 800;
                font-size: large">{{ reg_no }}</div>
  </body>
</html>
